<h1>You accessed this page via a GET request</h1>
<p>ID passed: {{ output }}</p>
<p>ID passed2: {{ output1 }}</p>
<p>ID passed3: {{ output2 }}</p>
<p>ID passed4: {{ output3 }}</p>
<p>ID passed5: {{ output4 }}</p>
<p>ID passed6: {{ output5 }}</p>
<p>ID passed7: {{ output6 }}</p>
<p>ID passed8: {{ output7 }}</p>
<p>ID passed8: {{ output8 }}</p>